.tile {
  border: 1px solid rgba(227, 227, 227, 0.2);
  height: 3rem;
}

.tile-space {
  background: antiquewhite;
}

.tile-wall {
  background-color: rosybrown;
}

.entity-block {
  background-color: dodgerblue;
}

.tile-goal {
  background-color: slategrey;
}

.entity-player {
  background-color: rebeccapurple;
}

.entity-block-goal {
  background-color: color-mix(in hsl, #1E90FFFF, #708090FF);
}
